.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 3px solid #ddd;
}

.home-icon {
  margin-left: 300px;
  width: 24px;
  height: 24px;
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 1.2em;
}

.logout-button {
  margin-right: 300px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.App-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  text-align: center;
}

.name-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 40px);
  max-width: 300px;
  box-sizing: border-box;
}

.login-button {
  margin-right: 300px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-text {
  margin-top: 20px;
  font-size: 1.2em;
  color: #555;
}

